$breakPointSmallMonitor: 1299.98px;
$breakPointTablet: 991.98px;
$breakPointPhone: 767.98px;
$breakPointSmallPhone: 499.98px;

$burgerBreakpoint: $breakPointPhone;
$burgerColor: black;
$headerHeight: 123px;

:root {
  --accent: #ff683e;
  --dark-bg: #03225c;
  --dark: #2e2e2e;
  --brand: #1c51b9;
  --light: #f9f7f2;
  --grey: #cdcdcd;
  --accent-hover: #ff3700;
  font-size: 16px;

  --header-height: 123px;
  --header-small-height: 93px;
}
