@import "https://fonts.googleapis.com/css2?family=Montserrat&display=swap";

*{
  border:0;
  margin:0;
  padding:0;
}

*,:after,:before{
  box-sizing:border-box;
}

:active,:focus,a:active,a:focus{
  outline:none;
}

aside,footer,header,nav{
  display:block;
}

body,html{
  -ms-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  font-size:100%;
  font-size:16px;
  height:100%;
  line-height:1;
  width:100%;
}

button,input,textarea{
  font-family:inherit;
}

input::-ms-clear{
  display:none;
}

button{
  cursor:pointer;
  font-weight:inherit;
}

button::-moz-focus-inner{
  border:0;
  padding:0;
}

a,a:hover,a:visited{
  text-decoration:none;
}

ul li{
  list-style:none;
}

img{
  vertical-align:top;
}

h1,h2,h3,h4,h5,h6{
  font-size:inherit;
  font-weight:inherit;
}

:root{
  --accent:#ff683e;
  --dark-bg:#03225c;
  --dark:#2e2e2e;
  --brand:#1c51b9;
  --light:#f9f7f2;
  --grey:#cdcdcd;
  --accent-hover:#ff3700;
  --header-height:123px;
  --header-small-height:93px;
  font-size:16px;
}

body{
  font-family:Montserrat;
}

.container{
  height:100vh;
  left:0;
  position:fixed;
  top:0;
  width:100vw;
}

button{
  background:#38e5eb;
  border-radius:2px;
  color:#0c1b2e;
  font-size:1rem;
  font-weight:bolder;
  padding:8px 24px;
}

button:hover{
  background:#63ecf0;
}