// common
@import "common/_reset.scss";
@import "common/_vars.scss";
@import "common/_fonts.scss";

body {
	font-family: Poppins;
	background: var(--dark-bg);
}

#app {
	min-height: 100vh;
	height: 100%;
}

.btn {
	border-radius: 2px;
	background: var(--accent);
	min-width: 120px;
	padding: 8px 20px;
	text-align: center;
	color: white;
}